################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DemoRazorPageApp/bin/Debug/net5.0
/DemoRazorPageApp/obj
/DemoRazorPageApp.Common/bin/Debug/net5.0
/DemoRazorPageApp.Common/obj
/DemoRazorPageApp.Interfaces/bin/Debug/net5.0
/DemoRazorPageApp.Interfaces/obj
/DemoRazorPageApp.Models/bin/Debug/net5.0
/DemoRazorPageApp.Models/obj
/DemoRazorPageApp.Repos/bin/Debug/net5.0
/DemoRazorPageApp.Repos/obj
/DemoRazorPageApp.Services/bin/Debug/net5.0
/DemoRazorPageApp.Services/obj
/DemoRazorPageApp.Tests/bin/Debug/net5.0
/DemoRazorPageApp.Tests/obj/Debug/net5.0
/DemoRazorPageApp.Tests/obj
/.vs/DemoRazorPageApp/v16/TestStore/0
