<div class="sidebar-menu">
    <ul class="menu-ul">
        <li class="menu-li">
            <a href="" class="menu-a">Home</a>
        </li>
        <li class="menu-li">
            <a href="" class="menu-a">Work Order</a>
        </li>
        <li class="menu-li">
            <a href="" class="menu-a">Customer</a>
        </li>
        <li class="menu-li">
            <a href="" class="menu-a">ESM</a>
        </li>
        <li class="menu-li">
            <a href="" class="menu-a">Services</a>
        </li>
        <li class="menu-li">
            <a href="" class="menu-a">Vehicle</a>
        </li>
        <li class="menu-li">
            <a href="" class="menu-a">Fleet</a>
        </li>
        <li class="menu-li">
            <a href="" class="menu-a">Warning</a>
        </li>
        <li class="menu-li">
            <a href="" class="menu-a">Club</a>
        </li>
        <li class="menu-li">
            <a href="" class="menu-a">To Bay</a>
        </li>
    </ul>
</div>