@page
@model IndexModel

@{
    ViewData["Title"] = "Home";
}

<div class="main-wrapper">
    <div class="inner-wrapper">
        <div class="sidebar">
            <a href="" class="logo">
                <h5 class="logotext"> LubeSoft</h5>
            </a>
            <partial name="_SidebarPartial" />
        </div>
        <div class="body-main">
            <div class="top-nav"></div>
            <div class="body-wrapper">
                <div class="body-wrapper-inr">
                    <h3 class="heading"> Search Vehicle</h3>
                    <div class="input-main">
                        <span class="img-otr">
                            <img class="icon" src="~/img/search-icon.png" alt="icon">
                        </span>
                        <input id="search-string" class="input" type="text" placeholder="Enter Vehicle Name, VIN, Customer Name">
                        <span class="img-otr img-right" onclick="ClearSearchField()">
                            <img class="icon" src="~/img/close-icon.png" alt="icon">
                        </span>
                    </div>
                    <table id="grdTableVehileDetail" class="table table-striped datatable-custom" style="width:100%">
                        <thead>
                            <tr class="table-main-header">
                                <th>Id</th>
                                <th>Vehicle ID</th>
                                <th>Customer Name</th>
                                <th>Phone</th>
                                <th>Vehicle Description</th>
                                <th>VIN</th>
                                <th>Last Service</th>
                            </tr>
                        </thead>

                    </table>
                </div>
                
                <div id="editVehicleSectionDiv"></div>

            </div>
        </div>

       
    </div>
</div>

<script src="~/js/custom-datatable.js"></script>

<script type="text/javascript">


    //$(document).ready(function () {

    //    debugger;
       
    //    var dataTble = $('#grdTableVehileDetail').DataTable();
    //    $('#grdTableVehileDetail tbody').on('click', 'tr', function () {
    //        debugger;

    //        var dto = dataTble.row(this).data();

    //        $('#editVehicleSectionDiv').load('/Vehicle/_EditVehiclePartial/?handler=VehiclePartial&vehicleId=' + dto.id);
    //    });
    //});

    
    //$('#grdTableVehileDetail').on('select.dt', function (e, dt, type, indexes) {
    //    debugger;
    //    var data = dt.rows(indexes).data();
    //    console.log(data);

    //     $('#grid').load('/Index/?handler=VehiclePartial');

    //});

    window.onload = function () {

        var $dataTable = $("#grdTableVehileDetail");
        var table = $dataTable.DataTable({
            aaSorting: [[6, 'asc']],
            pagingType: 'simple',
            language: {
                //"info": "Displaying (_PAGE_) of _PAGES_",   // https://datatables.net/reference/option/language
                paginate: {
                    next: '<span class="icon-right"></span>',
                    previous: '<span class=" icon-left"></span>'
                },

                "processing": '<img src="~/img/Spinner.svg"/>',
                "emptyTable": "No vehicles found."
            },

            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": true, // this is for disable filter (search box)
            "searchPlaceholder": false,
            "orderMulti": false, // for disable multiple column at once
            "pageLength": 10,

            "ajax": {
                "url": "/Index/?handler=Data",
                "type": "POST",
                "datatype": "json",
                "complete": function (data) {
                    //$('#total-items').prop('textContent', data['responseJSON'].recordsTotal);
                }
            },

            "columnDefs":
                [{
                    "targets": [0],
                    "visible": false,
                    "searchable": false,
                    "orderable": false,
                },
                {
                    "targets": [1],
                    "searchable": true,
                    "orderable": false,
                },
                {
                    "targets": [2],
                    "searchable": false,
                    "orderable": false,
                },
                {
                    "targets": [3],
                    "width": "20%",
                    "searchable": false,
                    "orderable": false,
                    "className": "first-column"
                },
                {
                    "targets": [4],
                    "searchable": false,
                    "orderable": false,
                    "width": "20%"
                },
                {
                    "targets": [5],
                    "searchable": false,
                    "orderable": false,
                    "width": "10%"
                },
                {
                    "targets": [6],
                    "searchable": false,
                    "orderable": true,
                    "width": "15%"
                }],

            "columns": [
                { "data": "id", "name": "Id", "autoWidth": false },
                { "data": "vehicleId", "title": "Vehicle Id", "autoWidth": true },
                { "data": "customerName", "title": "Customer Name", "autoWidth": true },
                { "data": "phone", "title": "Phone", "autoWidth": true },
                { "data": "vehicleDescription", "title": "Vehicle Description", "autoWidth": true },
                { "data": "vin", "title": "VIN", "name": "VIN", "autoWidth": true },
                { "data": "lastServiceDate", "title": "Last Service", "name": "LastServiceDate", "autoWidth": true }
            ]
        });

        customDatatable_init(table);
        registerTableRowClickEvent();
    };

    function ClearSearchField() {
        $('#search-string').val('');
        $('#grdTableVehileDetail').DataTable().search("").draw();
    };

    function registerTableRowClickEvent() {

        var dataTble = $('#grdTableVehileDetail').DataTable();
        $('#grdTableVehileDetail tbody').on('click', 'tr', function () {
            debugger;

            var dto = dataTble.row(this).data();

            $('#editVehicleSectionDiv').load('/Vehicle/_EditVehiclePartial/?handler=VehiclePartial&vehicleId=' + dto.id);
        });
    }
    
</script>